<div>

</div>

<div class="page">

  <button *ngIf="authentication.isAuthenticated && authentication.isAdmin" class="add-button" (click)="openDialogAddProduct()">Добавить новый продукт</button>

  <div class="products-container">
      <div class="product-item-container" *ngFor="let product of products; let i = index">
            <div class="product-item">
              <div class="product-info">
                  <div class="product-image-container">
                    <div class="product-image">
                        <img mat-card-image [src]="product.imageUrl" alt="Fish Image" width="150" height="150">
                    </div>
                  </div>
                  <div class="product-text-info">
                      <div class="product-name">{{product.productName}}</div>
                      <div class="product-description">{{product.description}}</div>
                  </div>
              </div>
              <div class="product-price">
                  <div *ngIf="true"></div>
                  <button *ngIf="authentication.isAuthenticated && !authentication.isAdmin" class="myButton" (click)="addProductToOrder(product)">КУПИТЬ</button>
                  <button *ngIf="!authentication.isAuthenticated" class="myButton" (click)="openDialogLogin()">КУПИТЬ</button>
                  <div class="text">Цена:{{product.price}}/кг</div>
                  <button *ngIf="authentication.isAdmin" class="myButton" (click)="deleteProduct(product.productId)">УДАЛИТЬ</button>
              </div>
            </div>
      </div>
  </div>
</div>

